// Для отладки

.body {
  position: relative;
  height: 3637px;

  &,
  & *,
  & *::after,
  & *::before {
    background: rgba(209, 10, 66, 0.11) !important;
  }

  & picture {
    opacity: 0.4;
  }

  &__bg {
    position: relative;
    height: 0;
    margin: 0 auto;
    width: 1366px;
    max-width: 100%;

    @include mq(phone) {
      width: 320px;
    }

    &::after {
      content: "";

      background-position: left;
      background-repeat: no-repeat;
      display: block;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      height: 3808px;
      z-index: -100000;

      background-image: url("../img/temp/desktop7.png") !important;
      background-size: 1366px;

      @include mq(tablet) {
        height: 3736px;
        background-image: url("../img/temp/tablet4.png") !important;
        background-size: 3637px;
      }

      @include mq(phone) {
        height: 3637px;
        background-image: url("../img/temp/phone5.png") !important;
      }
    }
  }
}

// Для отладки. Конец
