.footer {
  background-color: $bg-color-primary;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-top: auto;
  padding: 5.5rem 0 5.4rem;
}

.footer__container {
  display: flex;
  position: relative;
}

.footer__logo {
  position: absolute;
  top: -7px;
}

.footer__nav {
  display: flex;
  flex-shrink: 0;
}
$mr: 80px;

.footer__phone p,
.footer__info p {
  color: $text-color-secondary;
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin: 0;
}

.footer__info {
  margin-right: $mr;
  margin-top: 3.6rem;
}

.footer__links {
  list-style: none;
  margin: 0;
  margin-right: $mr;
  padding: 0;
}

.footer__link {
  & + & {
    margin-top: 0.9rem;
  }
}

.footer__contacts {
  align-items: flex-start;
  display: flex;
  flex-grow: 1;
}

.footer__phones {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  margin-top: 0.3rem;
  margin-right: auto;
}

.footer__phone {
  margin-bottom: 1.5rem;
  margin-right: $mr;
  max-width: 200px;
  min-width: 140px;
  position: relative;
  width: 155px;

  &:nth-child(2n + 1) {
    flex-grow: 1;
  }
}

@mixin icon($mod, $width) {
  .footer__phone--#{$mod} {
    padding-left: $width;
  }

  .footer__phone-icon--#{$mod} {
    width: $width;
  }
}

@include icon("cellphone", 29px);
@include icon("phone", 32px);

.footer__phone-icon {
  left: 0;
  position: absolute;
  top: 2px;
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-left: -15px;
  margin-top: 0.4rem;
  min-width: 117px;
  padding: 0;
}

.footer__social-item {
  margin-left: 15px;
}

.footer__social-icon {
  fill: currentColor;
}

@include mq(tablet) {
  .footer__container {
    align-self: start;
  }

  .footer__nav,
  .footer__contacts,
  .footer__phones {
    flex-direction: column;
  }

  .footer__nav {
    margin-right: 15%;
  }

  .footer__logo {
    top: -6px;
  }

  .footer__info {
    margin: 0;
    margin-top: 2.7rem;
    order: 1;
  }

  .footer__links {
    margin-right: 0;
    margin-top: 4.8rem;
  }

  .footer__contacts {
    align-items: stretch;
    justify-content: flex-start;
  }

  .footer__phones {
    flex-grow: 0;
  }

  .footer__phone {
    margin-bottom: 2.4rem;
    margin-right: 0;
    width: 100%;
  }

  .footer__social {
    margin-top: 0.1rem;
    margin-left: -20px;
    max-width: 200px;
  }

  .footer__social-item {
    margin-left: 20px;
  }
}
