@import "../components/hamburger";
@import "../components/nav";

.header {
  background-color: $bg-color-primary;
}

.header__container {
  align-items: center;
  display: flex;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.9rem;
  padding-bottom: 3rem;
  padding-top: 3.1rem;
  position: relative;
}

.header__logo {
  flex-shrink: 0;
  margin-left: -38px;
  margin-right: 5.8rem;
  margin-top: -12px;
}

.header__login {
  align-items: center;
  border: none;
  display: flex;
  flex-shrink: 0;
  margin-left: auto;
  padding: 0;
  text-align: left;
}

.header__login svg {
  margin-right: 1rem;
}

@include mq(tablet) {
  .header__container {
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding-bottom: 2.2rem;
    padding-top: 2.2rem;
  }

  .header__logo {
    margin: 0;
    margin-right: auto;
  }

  .header__login svg {
    margin-right: -1px;
  }

  .header__login span {
    display: none;
  }
}

@include mq(phone) {
  .header__container {
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
  }

  .header__logo {
    margin-left: 0.9rem;
    transform: translateY(-0.5rem);
  }

  .header__login {
    margin-right: 0;
  }

  .header__login svg {
    width: 14px;
    height: 16px;
  }
}
