*,
*::after,
*::before {
  box-sizing: border-box;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: none;
}

a,
input,
button,
div,
section {
  &:focus {
    outline: 0;
  }
}

input::-ms-clear {
  display: none;
}

:invalid {
  box-shadow: none;
  outline: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow: none;
}
