//=== Breakpoints ===/
$breakpoints: (
  phone: 767px,
  tablet: 1023px,
);
//=== /Breakpoints ===/

//=== Fonts ===/
$roboto: "Roboto", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
//=== /Fonts ===/
