//=== Breakpoints ===/
$breakpoints: (
  phone: 767px,
  tablet: 1023px,
);
//=== /Breakpoints ===/

//=== Fonts ===/
$roboto: "Roboto", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
//=== /Fonts ===/

//=== Colors ===/
$bg-color-primary: #f6f7ff;

$text-color-primary: #1f1e25;
$text-color-secondary: #707c87;
$text-color-tab: #4c4b51;
$text-color-button: $bg-color-primary;

$blue-color-main: #2c36f2;
$blue-color-tab: #565ef5;

$focus-shadow: 0 0 0 2px rgba(red, 0), 0 0 0 2px rgba($blue-color-main, 0.4);

//=== /Colors ===/
