.checkbox-clone {
  color: transparent;
  fill: none;
  stroke: $blue-color-main;
  user-select: none;
}

.checkbox:checked + .checkbox-clone {
  fill: $blue-color-main;
  color: $bg-color-primary;
}
