.container {
  margin: 0 auto;
  max-width: 1366px;
  padding: 0 98px;

  &--features {
    padding: 0 268px;
  }
}

@include mq(tablet) {
  .container {
    padding: 0 45px;

    &--features {
      padding: 0 86px;
    }
  }
}

@include mq(phone) {
  .container {
    padding: 0 15px;
  }
}
