.features__tabs-container {
  position: relative;
}

.features__tabs {
  bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  left: 50%;
  margin-left: -4px;
  position: absolute;
  transform: translateX(-50%);
  z-index: 1;
}

.features__tab {
  margin-left: 8px;
}

.features__radio-clone {
  background-color: $blue-color-dark;
  border-radius: 8px;
  display: block;
  height: 8px;
  width: 8px;

  &--selected {
    background-color: $bg-color-primary;
  }

  &--selected#{&}--dark {
    background-color: $tab-circle-color;
  }
}

.features__panel-container {
  overflow: hidden;
  position: relative;
}

.features__panel {
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  color: #2b3c4f;
  min-height: 400px;
  padding: 96px 0 114px;
  user-select: none;

  &--next {
    height: 100%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &--credits {
    background-color: $blue-color-main;
    background-image: url("../img/main/slide1@1x--lg.jpg");
    color: #e0e1ea;

    @include mret() {
      background-image: url("../img/main/slide1@2x--lg.jpg");
    }
  }

  &--confidence {
    background-image: url("../img/main/slide2@1x--lg.jpg");

    @include mret() {
      background-image: url("../img/main/slide2@2x--lg.jpg");
    }
  }

  &--near {
    background-image: url("../img/main/slide3@1x--lg.jpg");

    @include mret() {
      background-image: url("../img/main/slide3@2x--lg.jpg");
    }
  }

  &--sliding {
    transition: transform 0.3s ease-in;
  }
}

.features__panel p {
  margin: 0;
  letter-spacing: -0.005em;
}

.features__panel .features__title {
  font-size: 5.4rem;
  font-weight: bold;
  letter-spacing: 0;
  margin-bottom: 1px;

  color: $text-color-primary;

  &--credits {
    color: $bg-color-primary;
  }
}

.features__link {
  margin-top: 3.1rem;
  min-width: 234px;

  &--light {
    background-color: $bg-color-primary;
    color: $text-color-primary;
  }

  &--light:hover {
    color: $text-color-primary;
  }

  &--light:focus {
    color: $text-color-primary;
    box-shadow: 0 0 0 2px red;
  }

  &--near {
    min-width: 243px;
  }
}
