.input-label,
.input,
.button {
  background-color: transparent;
  padding: 0;
  &:hover {
    cursor: pointer;
  }
}

.button,
.link {
  &:hover {
    color: $blue-color-main;
  }

  &:active {
    color: $text-color-secondary;
  }
}

.button svg,
.link svg {
  fill: currentColor;
}

.button {
  border: none;
}

.input,
.button--main {
  border-radius: 4px;
}

.link {
  color: inherit;
  text-decoration: none;
}
