.input-label,
.input,
.button {
  background-color: transparent;
  padding: 0;
  &:hover {
    cursor: pointer;
  }
}

.input,
.button,
.link {
  &:focus {
    outline: none;
    box-shadow: $focus-shadow;
  }
}

.button,
.link {
  &:hover {
    color: $blue-color-main;
  }

  &:active {
    color: $text-color-secondary;
  }
}

.button svg,
.link svg {
  fill: currentColor;
}

.link {
  color: inherit;
  text-decoration: none;
}

.button {
  border: none;

  &--main {
    background-color: $blue-color-main;
    color: $bg-color-primary;
    display: inline-block;
    font-size: 1.8rem;
    padding: 1.4rem;
    text-align: center;
    vertical-align: middle;
  }

  &--main:hover {
    opacity: 0.8;
    color: $bg-color-primary;
  }
}

.input,
.button--main {
  border-radius: 4px;
}
