.login__form {
  display: flex;
  flex-direction: column;
  margin-top: 0.3rem;
}

.login__label-container {
  position: relative;
}

.login__label {
  display: block;
  margin-top: 1.9rem;
  position: relative;
}

.login__label-text {
  color: #394959;
  font-size: 1.6rem;
}

.login__field {
  margin-top: 0.2rem;
}

.login__icon {
  display: flex;
  bottom: 25px;
  height: 12px;
  right: 25px;
  position: absolute;
  width: 22px;
  z-index: 10;
}

.login__link {
  align-self: flex-end;
  color: #707c87;
  font-size: 1.2rem;
  margin-top: 0.8rem;
}

.login__button {
  height: 6rem;
  margin-top: 2.5rem;
}

@include mq(phone) {
  .login__logo {
    transform: translateX(-5px);
  }

  .login__form {
    margin-top: 0rem;
  }

  .login__label {
    margin-top: 1.3rem;
  }

  .login__icon {
    right: 15px;
  }

  .login__link {
    order: 1;
    align-self: center;
    font-size: 1.4rem;
    margin-bottom: -0.4rem;
    margin-top: 1rem;
  }

  .login__button {
    font-size: 1.4rem;
    height: 5.1rem;
    margin-top: 3rem;
  }
}
