.nav,
.nav__item {
  margin-right: 2.5rem;
}

.nav {
  padding: 0;
}

.nav__links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item a {
  line-height: 3rem;
}

@include mq(tablet) {
  .nav {
    margin-right: 0;
    margin-left: 1.9rem;
  }

  .nav__item {
    margin-right: 2.1rem;
  }

  .nav__item a {
    line-height: 2.5rem;
  }
}

@include mq(phone) {
  .nav {
    order: -1;
    margin-left: 0;
  }

  .nav__links {
    background-color: $bg-color-primary;
    flex-direction: column;
    left: 0;
    padding: 0 15px;
    padding-left: 13px;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
  }

  .nav__item {
    height: 0;
    overflow-y: hidden;
    transition: height 0.3s ease-out;
  }

  .nav__item a {
    line-height: 2;
    margin-left: 4px;
  }
}
