.nav,
.nav__item {
  margin-right: 2.5rem;
}

.nav {
  padding: 0;
  flex-shrink: 0;
}

.nav__links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item:last-child {
  margin-right: 0;
}

@include mq(tablet) {
  .nav {
    margin-right: 0;
  }

  .nav__item {
    margin-right: 2rem;
  }
}

@include mq(phone) {
  .nav__item {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
  }
}
