@keyframes error_animation {
  from {
    background-color: rgba(red, 0.2);
  }

  50% {
    background-color: $bg-color-primary;
  }

  to {
    background-color: rgba(red, 0.2);
  }
}

.request {
  background-color: $bg-color-primary;
  padding: 70px;
  padding-top: 69px;

  &--error {
    animation: error_animation 0.3s 2;
  }
}

.request h3 {
  text-align: center;
}

.request__list {
  margin-bottom: 0;
  margin-top: 2.7rem;
}

.request__item {
  align-items: center;
  border-bottom: 1px solid #c4c4c4;
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
  padding-bottom: 0.6rem;
}

.request__title,
.request__value {
  line-height: 4rem;
}

.request__title {
  color: $text-color-calculator;
  font-size: 1.6rem;
}

.request__fields {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.request__label {
  display: block;
  margin-top: 3rem;
  margin-right: 30px;
  flex-grow: 1;

  &:first-child {
    width: 100%;
  }
}

.request__field {
  background-color: transparent;
  font-size: 1.8rem;

  &:focus {
    box-shadow: $focus-shadow;
  }
}

.request__field::placeholder {
  color: #707c87;
}

.request__button {
  display: block;
  margin: 0 auto;
  margin-top: 4rem;
  min-height: 5.1rem;
  min-width: 198px;
}

@include mq(tablet) {
  .request {
    background-color: transparent;
    padding: 0;
  }

  .request__list {
    margin-top: 4.2rem;
  }

  .request__button {
    width: 100%;
  }
}

@include mq(phone) {
  .request__list {
    margin-top: 4.3rem;
  }

  .request__item {
    align-items: flex-start;
    flex-direction: column;
    margin-top: 1.7rem;
    padding-bottom: 1.3rem;
  }

  .request__title,
  .request__value {
    line-height: 2rem;
  }

  .request__title {
    order: 1;
    margin-top: 0.5rem;
  }

  .request__value {
    margin: 0;
    font-size: 1.8rem;
  }

  .request__fields {
    margin-right: 0;
    margin-top: 1rem;
  }

  .request__label {
    margin-right: 0;
    margin-top: 2rem;
    width: 100%;
  }

  .request__field {
    font-size: 1.6rem;
    letter-spacing: 0.02em;
  }

  .request__button {
    margin-top: 3rem;
  }
}
