.services {
  font-size: 1.8rem;
  font-weight: normal;
  margin-top: 6rem;
}

.services__tabs {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
}

.services__tab {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  min-height: 93px;
  width: 25%;
}

.services__label {
  align-items: center;
  cursor: pointer;
  display: flex;
  fill: $blue-color-tab;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;

  &--selected {
    cursor: auto;
  }

  &--selected,
  &:hover {
    background-color: $bg-color-primary;
    fill: $blue-color-main;
  }

  &--focused {
    box-shadow: $focus-shadow;
    z-index: 1;
  }
}

.services__label .radio-clone {
  display: none;
}

.services__tab-info {
  align-items: center;
  display: flex;
}

.services__icon {
  margin-right: 1rem;
}

.services__link {
  font-weight: 500;
  text-decoration: underline;
}

.services__panel-wrapper {
  position: relative;

  background: $bg-color-primary;

  &::after {
    background-size: cover;
    background-position: center;
    content: "";
    max-width: 440px;
    height: 290px;
    position: absolute;
    right: 11.5%;
    top: 50%;
    transform: translateY(-50%);
    width: calc(440px - (1170px - 100%) / 1.8);
  }

  &--deposits::after {
    background-image: url("../img/services/tab1@1x--lg.jpg");

    @include mret() {
      background-image: url("../img/services/tab1@2x--lg.jpg");
    }
  }

  &--credits::after {
    background-image: url("../img/services/tab2@1x--lg.jpg");

    @include mret() {
      background-image: url("../img/services/tab2@2x--lg.jpg");
    }
  }

  &--insurance::after {
    background-image: url("../img/services/tab3@1x--lg.jpg");

    @include mret() {
      background-image: url("../img/services/tab3@2x--lg.jpg");
    }
  }

  &--online::after {
    background-image: url("../img/services/tab4@1x--lg.jpg");

    @include mret() {
      background-image: url("../img/services/tab4@2x--lg.jpg");
    }
  }
}

.services__content-wrapper {
  max-width: 392px;
  padding: 5.5rem 0 5.2rem;
  position: relative;
  z-index: 1;

  &--credits {
    max-width: 370px;

    .services__description {
      max-width: 300px;
    }
  }

  &--insurance {
    max-width: 360px;
  }

  &--online {
    max-width: 415px;
  }
}

.services p {
  margin: 0;
  margin-top: 3rem;
  padding: 0;
}

.services__description p {
  font-weight: 500;
  font-size: 2.2rem;
  margin-top: 0;
}

.services__list {
  margin-top: 2.8rem;
}

.services__item {
  margin-bottom: 1.5rem;
  line-height: 1.3;
  padding-left: 20px;
  position: relative;
}

.services__mark {
  left: 0;
  position: absolute;
  top: 0.6rem;
}

.services__button {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
  margin-top: 2rem;
  width: 198px;
}

@include mq(tablet) {
  .services {
    font-size: 1.6rem;
    margin-top: 0;
    padding: 0;
  }

  .services__tabs-container {
    position: relative;
  }

  .services__tabs {
    bottom: 15px;
    left: 50%;
    margin-left: -4px;
    position: absolute;
    transform: translateX(-50%);
    z-index: 2;
  }

  .services__tab {
    margin-left: 8px;
    min-height: auto;
    width: auto;
  }

  .services__label {
    border-radius: 100%;
  }

  .services__tab-info {
    display: none;
  }

  .services__label .radio-clone {
    display: block;
  }

  .services__panel-container {
    position: relative;
    overflow: hidden;
  }

  .services__panel {
    user-select: none;

    &--next {
      height: 100%;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      top: 0;
      width: 100%;
      z-index: -1;
    }

    &--sliding {
      transition: transform 0.3s ease-in;
    }
  }

  .services__panel-wrapper {
    min-height: 380px;

    &::after {
      height: 260px;
      right: calc(45px + (100% - 768px) / 2);
      width: 289px;
    }

    &--deposits::after {
      background-image: url("../img/services/tab1@1x--md.jpg");

      @include mret() {
        background-image: url("../img/services/tab1@2x--md.jpg");
      }
    }

    &--credits::after {
      background-image: url("../img/services/tab2@1x--md.jpg");

      @include mret() {
        background-image: url("../img/services/tab2@2x--md.jpg");
      }
    }

    &--insurance::after {
      background-image: url("../img/services/tab3@1x--md.jpg");

      @include mret() {
        background-image: url("../img/services/tab3@2x--md.jpg");
      }
    }

    &--online::after {
      background-image: url("../img/services/tab4@1x--md.jpg");

      @include mret() {
        background-image: url("../img/services/tab4@2x--md.jpg");
      }
    }
  }

  .services__content-wrapper {
    max-width: 370px;

    &--credits {
      max-width: 330px;

      .services__description {
        max-width: 250px;
      }
    }

    &--insurance {
      max-width: 300px;
    }

    &--online {
      max-width: 340px;
    }
  }

  .services__description p {
    font-size: 1.8rem;
  }

  .services__list {
    margin-top: 2.4rem;
  }

  .services__item {
    margin-bottom: 1.4rem;
    line-height: 2.1rem;
  }

  .services__button {
    margin-top: 1.4rem;
    margin-bottom: 0.5rem;
  }
}

@include mq(phone) {
  .services__tabs {
    bottom: 10px;
    margin-left: -3px;
  }

  .services__tab {
    margin-left: 6px;
  }

  .services__panel-wrapper {
    min-height: 362px;

    &::after {
      height: calc(113 * (100vw / 320));
      background-size: contain;
      background-repeat: no-repeat;
      max-height: 50%;
      right: calc((100% - 320px) / 3);
      top: 98px;
      transform: none;
      width: calc(87 * (100vw / 320));
    }

    &--deposits::after {
      background-image: url("../img/services/tab1@2x--sm.jpg");
    }

    &--credits::after {
      background-image: url("../img/services/tab2@2x--sm.jpg");
    }

    &--insurance::after {
      background-image: url("../img/services/tab3@2x--sm.jpg");
    }

    &--online::after {
      background-image: url("../img/services/tab4@2x--sm.jpg");
    }
  }

  .services p {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-top: 2.2rem;
  }

  .services__description p {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-top: 0;
  }

  .services__content-wrapper {
    max-width: 300px;
    padding-bottom: 2.5rem;

    &--credits {
      max-width: 270px;

      .services__description {
        max-width: 220px;
      }
    }

    &--insurance {
      max-width: 250px;
    }

    &--online {
      max-width: 230px;
    }
  }

  .services__list {
    margin-top: 2.1rem;
    max-width: 250px;
  }

  .services__item {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 1.2rem;
    padding-left: 1.5rem;
  }

  .services__mark {
    height: 8px;
    top: 4px;
    width: 10px;
  }

  .services__button {
    font-size: 1.4rem;
    margin-top: 1.1rem;
    height: 4.3rem;
    width: 290px;
    margin-bottom: 0;
  }
}
